#loginButton {
    float: right;
}

footer {
    background-color: black;
    color: white;
    width: 100%;
}
h1 {
   text-align: center; 
}

header {
    background-color: black;
    color: white;
    width: 100%;
}

.photo {
    border-style: solid;
}