#content {
    margin-left: auto;
    margin-right: auto;
    width: 1000px
}
#loginButton {
    float: right;
    margin: 6px;
}

#searchBox {
      position: relative;
      
}

.searchField {
    float: right;
}

footer {
    background-color: black;
    color: white;
    width: 100%;
    position:fixed;
    left:0px;
    bottom:0px;
}
h1 {
   text-align: center; 
}

header {
    background-color: black;
    color: white;
    width: 100%;
}

img {
    display: block;
    height: 250px;
    margin: auto;
    width: 250px;
}

.photo {
    border-style: solid;
    float: left;
    margin: 30px;
    padding: 0 6px;
    text-align: center;
    width: 25%;
}


/*@media only screen and (max-width: 700px){
    .photo {
    border-style: solid;
    float: left;
    margin: 30px;
    padding: 0 6px;
    text-align: center;
    width: 50%;
    }
}

@media only screen and (max-width: 500px){
    .photo {
    border-style: solid;
    float: left;
    margin: 30px;
    padding: 0 6px;
    text-align: center;
    width: 100%;
    }
} */