#content {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
#loginButton {
    float: right;
    margin: 6px;
}

#search {
      float: right;
}

body {
    margin: auto;
}

footer {
    background-color: black;
    color: white;
    width: 100%;
    position:fixed;
    left:0px;
    bottom:0px;
}

h1 {
   text-align: center; 
}

header {
    background-color: black;
    color: white;
    width: 100%;
}

img {
    display: block;
    height: 95%;
    margin: 2.5%;
    width: 95%;
}

figure {
    border-style: solid;
    float: left;
    width: 25%;
}

figcaption {
    text-align: center;
}

@media only screen and (max-width: 700px){
    figure {
    width: 45%;
    }
}

@media only screen and (max-width: 500px){
    figure {
    width: 100%;
    }
}