#content {
    background: white;
    padding: 0px;
}
#heading {
    font-size: 82px;
}

#login-btn {
}

#logo {
    margin: 0px;
    padding: 0px;
}

#sideMenu {
    padding: 1em;
    float: left;
    margin: 5px;
}

/**
 * The background uses repeated beach sand textures
 */
body {
    /*background-color: SandyBrown; */
    background-image: url("../images/beach_sand_by_sharandra-d6wf18w.png");
}

.inline-box {
    float: right;
    display: inline-block; 
    padding: 0.5em;
}

.sideItem {
    width: 200px;
    margin-bottom: 10px;
    background-color: #E8112D;
    padding: 0.25em;
    color: white;
}

.runner {
    width: 100%;
    background-color: #002B7F;
    color: white;
    padding: 0.25em;
    width:100%;
}
