#content {
    background: white;
    padding: 0px;
}
#heading {
    font-size: 82px;
    padding-left: 10px;
}

#login-btn {
}

#search-box {
    height: 48px
}

#search-icon {
    background-color: lightblue
}

#sideMenu {
    margin-left: 10px;
    margin-right: 10px;
    float: left;

}

/**
 * The background uses repeated beach sand textures
 */
body {
    /*background-color: SandyBrown; */
    background-image: url("../images/beach_sand_by_sharandra-d6wf18w.png");
}

figcaption {
    font-weight: bold;
}

.inline-box {
    float: right;
    display: inline-block; 
    padding: 0.5em;
}

.logo {
    margin: 0px;
    padding: 0px;
}

.sideItem {
    width: 200px;
    margin-bottom: 10px;
    background-color: #E8112D;
    padding: 0.25em;
    color: white;
}

.runner {
    background-color: #002B7F;
    color: white;
    padding: 0.25em;
}

/* footer */
.footer-left{
	width: 40%;
}

.footer-center{
	width: 35%;
}

.footer-right{
	width: 20%;
}

.footer-distributed{
	font-size: 16px;
	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* navbar */

@media (min-width: 768px) {
  .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }

.navbar
{
	max-width:300px;
	margin-right: 0;
	margin-left: 0;
}	

.navbar-nav,
.navbar-nav > li,
.navbar-left,
.navbar-right,
.navbar-header
{float:none !important;}

.navbar-right .dropdown-menu {left:0;right:auto;}
.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
}