#content {
    background: white;
    padding: 0px;
}
#heading {
    font-size: 82px;
}

#login-btn {
}

#logo {
    margin: 0px;
    padding: 0px;
}

#search-box {
    height: 48px
}

#search-icon {
    background-color: lightblue
}

#sideMenu {
    margin-left: 10px;
    margin-right: 10px;
    float: left;

}

/**
 * The background uses repeated beach sand textures
 */
body {
    /*background-color: SandyBrown; */
    background-image: url("../images/beach_sand_by_sharandra-d6wf18w.png");
}

.inline-box {
    float: right;
    display: inline-block; 
    padding: 0.5em;
}

.sideItem {
    width: 200px;
    margin-bottom: 10px;
    background-color: #E8112D;
    padding: 0.25em;
    color: white;
}

.runner {
    background-color: #002B7F;
    color: white;
    padding: 0.25em;
}



/* Footer left */

.footer-left{
	width: 40%;
}

/* Footer Center */

.footer-center{
	width: 35%;
}

/* Footer Right */

.footer-right{
	width: 20%;
}


.footer-distributed{
	font-size: 16px;
	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}