#logo {
    animation-name: logo;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    position: relative;
    -webkit-animation-name: logo; 
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes logo {
    0%   {left:0px; top:0px;}
    50%  { left: 100px; top:-100px;}
    100% {left:0px; top:0px;}
}

@keyframes logo {
    0%   { left:0px; top:0px;}
    50%  {left: 100px; top:-100px;}
    100% { left:0px; top:0px;}
}